/* grab museo stuff */
@font-face {
    font-family: 'MuseoSans100';
    src: url('/MuseoSans_100.eot');
    src: local('☺'), url('./MuseoSans_100.woff') format('woff'), url('./MuseoSans_100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans300';
    src: url('/MuseoSans_300.eot');
    src: local('☺'), url('./MuseoSans_300.woff') format('woff'), url('./MuseoSans_300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* styling */
.content {
    background-color: #0592BF;
    /*position: relative;*/
    width: 100%;
}

#time {
    background-color: #333;
    padding: 4% 0;
}

#red {
    background-color: #E06161;
    padding: 3% 0;
}

#green {
    background-color: #97CA5B;
    padding: 3% 0;
}

#sponsors {
    padding: 3% 0;
}

.nameplate {
    font-size: 1.25em;
}
#innodlogo {
    padding: 0 30px;
    height: 50px;
}

.center {
    margin: 0 auto; 
    text-align: center;
    width: 65%;
    max-width: 850px;
    color: white;
    font-size: 1.25em;
    height: 100%;

    z-index: 2;
    position: relative;
}

#splash {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#splashbg {
    position: absolute;
    height: 120%;
    top: -5%;
    left: -5%;
    width: 120%;

    background-image: url("i/sutardjadai.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

/*    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/

    z-index: 1;
}

#bgfade {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* ie8 */
}

#rgblogo {
    height: 80%;
    margin: 3em;
}
#rgblogo img {
    height: 75%;
}

#title {
    font-size: 1.75em;
    font-family: 'MuseoSans300', sans-serif;
    margin-top: 1em;
}
#title img {
    width: 100%;
}

#subtitle {
    font-size: 1.5em;
    font-family: 'MuseoSans300', sans-serif;
    margin-bottom: 0.5em;
}

#splashbar {
    box-shadow: 0px 0px 5px #CCC;
    background-color: white;
    height: 12%;
    max-height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;

    line-height: 70px;

    color: #555;
    font-family: 'MuseoSans300', sans-serif;
}
#splashbar.sticky {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

#splashbar a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}
#splashbar a.active {
    color: #0092BF;
}
#splashcol {
    max-width: 950px; /* wider than center */
    margin: 0 auto;
}

.sidelined {
    line-height: 0.1em;
    text-align: center;
    margin: 1em auto;
    margin-top: 2em;
}
.sidelined span {
    display: inline-block;
    position: relative;
}
.sidelined span:before,
.sidelined span:after {
    content: "";
    position: absolute;
    height: 0;
    border: 1px solid white;
    top: 0;
    width: 320%;
}
.sidelined span:before {
    right: 100%;
    margin-right: 15px;
}
.sidelined span:after {
    left: 100%;
    margin-left: 15px;
}

h1 {
    font-size: 1.8em;
}

.tred {
    color: #E06161;
}

.tgreen {
    color: #97CA5B;
}

.tblue {
    color: #0092BF;
}

.colwrap {
    display: table;
}

.thirdcol {
    display: table-cell;
    width: 27%;
    padding: 3%;
    margin-bottom: auto;
    font-size: 0.9em;
    height: 200px;
    vertical-align: middle;
}
.thirdcol2 {
    display: table-cell;
    width: 54%;
    padding: 3%;
    margin-bottom: auto;
    font-size: 0.9em;
    height: 100px;
    vertical-align: middle;
}

img.third {
    width: 27%;
    margin: 3%;
    display: inline-block;
}

.quadcol {
    display: table-cell;
    width: 20%;
    padding: 0.1% 4%;
    margin-bottom: auto;
    font-size: 1.25em;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

.num {
    font-size: 2.5em;
}

.full {
    width: 100%;
}
.tall {
    height: 100%;
}

input {
    text-align: center;
    width: 300px;
    font-size: 2em;
    border: 1px solid #DDD;
}

/* nontext and shapes */
.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: -10px;
}

hr {
    border: 2px solid white;
    margin: 50px 0;
}

body {
    font-family: 'MuseoSans100', sans-serif;
    /*background-color: #22B573;*/
}

/* allow full page */
body, html {
    height: 100%;
    margin: 0;
}