/* grab museo stuff */
@font-face {
    font-family: 'MuseoSans100';
    src: url('/MuseoSans_100.eot');
    src: local('☺'), url('./MuseoSans_100.woff') format('woff'), url('./MuseoSans_100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans300';
    src: url('/MuseoSans_300.eot');
    src: local('☺'), url('./MuseoSans_300.woff') format('woff'), url('./MuseoSans_300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* styling */
#content {
    margin: 0.5em auto;
    text-align: center;
    width: 65%;
    color: white;
    font-size: 1.25em;
    height: 100%;
}

#splash {
    height: 100%;
    margin: 0.5em auto;
    text-align: center;
    width: 65%;
    color: white;
    font-size: 1.25em;
}

#splashbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: -50px; /* get the overflow hidden working */
    padding: 50px;

    background-image: url("i/sutardjadai.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 2;
}

#rgblogo {
    margin: 1em;
}

#title {
    font-size: 1.75em;
    font-family: 'MuseoSans300', sans-serif;
}

#subtitle {
    font-size: 1.5em;
    font-family: 'MuseoSans300', sans-serif;
    margin-bottom: 0.5em;
}

.sidelined {
    line-height: 0.1em;
    text-align: center;
    margin: 1em auto;
    margin-top: 2em;
}
.sidelined span {
    display: inline-block;
    position: relative;
}
.sidelined span:before,
.sidelined span:after {
    content: "";
    position: absolute;
    height: 0;
    border: 1px solid white;
    top: 0;
    width: 320%;
}
.sidelined span:before {
    right: 100%;
    margin-right: 15px;
}
.sidelined span:after {
    left: 100%;
    margin-left: 15px;
}

h1 {
    font-size: 1.8em;
}

.colwrap {
    display: table;
}

.thirdcol {
    display: table-cell; /* doesnt work? */
    width: 27%;
    padding: 3%;
    height: 500px;
    margin-bottom: auto;
    font-size: 0.9em;
}

img.third {
    width: 27%;
    margin: 3%;
    display: inline-block;
}

.quadcol {
    display: table-cell;
    width: 20%;
    padding: 0 3%;
    padding-left: 1%;
    font-size: 1.5em;
}

.num {
    font-size: 2.5em;
}

.full {
    width: 100%;
}

input {
    text-align: center;
    width: 300px;
    font-size: 2em;
    border: 1px solid #DDD;
}

/* nontext and shapes */
.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: -10px;
}

hr {
    border: 3px solid white;
}

body {
    font-family: 'MuseoSans100', sans-serif;
    /*background-color: #22B573;*/
    background-color: #0592BF;
}

/* allow full page */
body, html {
    height: 100%;
}