/* grab museo stuff */
@font-face {
    font-family: 'MuseoSans100';
    src: url('/MuseoSans_100.eot');
    src: local('☺'), url('./MuseoSans_100.woff') format('woff'), url('./MuseoSans_100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans300';
    src: url('/MuseoSans_300.eot');
    src: local('☺'), url('./MuseoSans_300.woff') format('woff'), url('./MuseoSans_300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* styling */
#content {
    margin: 1em auto;
    text-align: center;
    width: 65%;
    color: white;
    font-size: 1.5em;
}

#rgblogo {

}

#title {
    font-size: 2.0em;
    font-family: 'MuseoSans300', sans-serif;
}

#subtitle {
    font-size: 1.25em;
    font-family: 'MuseoSans300', sans-serif;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.8em;
}

.thirdwrap {
    display: table;
}

.thirdcol {
    display: table-cell; /* doesnt work? */
    width: 27%;
    padding: 3%;
    height: 500px;
    margin-bottom: auto;
}

img.third {
    width: 27%;
    margin: 3%;
    display: inline-block;
}

.full {
    width: 100%;
}

input {
    text-align: center;
    width: 300px;
    font-size: 2em;
    border: 1px solid #DDD;
}

/* nontext and shapes */
.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: -10px;
}

hr {
    border: 3px solid white;
}

body {
    font-family: 'MuseoSans100', sans-serif;
    /*background-color: #22B573;*/
    background-color: #0592BF;
}